body {
    font-family: roboto;
    font-size: 16px;
    line-height: 1.5;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

#site-header .navbar {
    border-radius: 0;
    border: none;
    margin: 0;
}

#site-main {
    padding-bottom: 50px;
    padding-top: 50px;
}

#site-footer {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 12px;
    background: #222;
    color: #999;
}

#subMe {
    margin-top: 40px;
}

#manGroup {
    display: flex;
}

.form-group, .formgroup {
    margin-top: 25px;
}

.jumbotron {
    margin-top: 10px;
}

.project {
    padding: 30px;
    color: #2A96B5;
}

.rexTitle {
    font-size: 30px;
    color: #F5A135;
}

.selClass, .pmClass {
    border: 1px solid #EE564E;
    border-radius: 10px;
    padding: 10px;
    color: #518DC1;
}

.aD {
    border: 1px solid #5CB85C;
    border-radius: 10px;
    padding: 10px;
    color: ;
}

.cl {
    display: inline-block;
    transform: rotate(180deg);
}

.descript-in {
    border: 1px solid #EF9D34;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
}

.descript-out {
    border: 1px solid #EF9D34;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222222;
}


/* login */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
