<div class="jumbotron text-center">
    <h1>Hay there! Welcome!</h1>
    <a href="rexData/events/create" class="btn btn-larger btn-danger">create new REX</a>
    <a href="rexData/events" class="btn btn-larger btn-danger">Access REX database</a>
</div>
